

<form action="/action_page.php">
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="title" class="form-control" placeholder="Enter title" id="title">
  </div>

 <div class="form-group">
  <label for="comment">Description:</label>
  <textarea class="form-control" rows="5" id="comment"></textarea>
</div>
 
<form>
  <h4>Upload your photos!</h4>
  <select name="photos" class="custom-select">
    <option selected>Upload Image One</option>
    <option value="Image1">Image1</option>
    <option value="Image2">Image2</option>
    <option value="Image3">Image3</option>
  </select>
</form>

 <select name="photos" class="custom-select">
    <option selected>Upload Image Two</option>
    <option value="Image21">Image1</option>
    <option value="Image22">Image2</option>
    <option value="Image23">Image3</option>
  </select>
</form>




  <button type="submit" class="btn btn-primary">Submit</button>
</form>