<h2>Welcome New User!</h2>
<h3>Enter your info below and you'll be on your way to submitting nonsense</h3>
<form id="newUserForm">
  <div class="mb-3">
    <label for="userName" class="form-label">What is your name?</label>
    <input
      type="text"
      class="form-control"
      id="userName"
      placeholder="Monica Dixon "
    />
  </div>
  <div class="mb-3">
    <label for="postBody" class="form-label">Please Provide Your Email (you will
      use this to log in)</label>
    <input
      type="email"
      class="form-control"
      id="userEmail"
      placeholder="cats4lyf@cats.com"
    />
  </div>
  <div class="mb-3">
    <label for="userPassword" class="form-label">Please Enter A Password</label>
    <input
      type="password"
      class="form-control"
      id="userPassword"
      placeholder="hunter2"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script src="../../js/newuser.js"></script>