<form id="submitNewPost">
  <div class="mb-3">
    <label for="postTitle" class="form-label">Please Give Your Post a Title</label>
    <input
      type="text"
      class="form-control"
      id="postTitle"
      placeholder="eg. This cat looks like dateline NBC reporter Keith Morrison "
    />
  </div>
  <div class="mb-3">
    <label for="postBody" class="form-label">Tell us where you saw this</label>
    <textarea
      type="text"
      class="form-control"
      id="postBody"
      placeholder="eg. I was walking in West Philly and saw a couple of guys up to no good. They started making trouble in my neighborhood so I went to Bel-Air. On my way there, I saw this cat that I thought looked exactly like Keith Morrison. "
    /></textarea>
  </div>
  <div class="mb-3">
    <label for="urlOneAddress" class="form-label">Please enter the Image URL of
      the first Item</label>
    <input
      type="text"
      class="form-control"
      id="urlOneAddress"
      placeholder="http://www.catsthatlooklikekeithmorrison.com/cat7.jpg"
    />
  </div>
  <div class="mb-3">
    <label for="urlTwoAddress" class="form-label">Please enter the Image URL of
      the first Item</label>
    <input
      type="text"
      class="form-control"
      id="urlTwoAddress"
      placeholder="http://www.keithmorrison.com/stunningheadshot.png"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script src="../../js/login.js"></script>
<script src="../../js/submit.js"></script>