<form>
  <div class="mb-3">
    <label for="postTitle" class="form-label">Please Give Your Post a Title</label>
    <input
      type="text"
      class="form-control"
      id="postTitle"
      placeholder="eg. This cat looks like dateline NBC reporter Keith Morrison "
    />
  </div>
  <div class="mb-3">
    <label for="urlOneAddress" class="form-label">Please enter the Image URL of
      the first Item</label>
    <input
      type="text"
      class="form-control"
      id="urlOneAddress"
      placeholder="http://www.catsthatlooklikekeithmorrison.com/cat7.jpg"
    />
  </div>
  <div class="mb-3">
    <label for="urlTwoAddress" class="form-label">Please enter the Image URL of
      the first Item</label>
    <input
      type="text"
      class="form-control"
      id="urlTwoAddress"
      placeholder="http://www.keithmorrison.com/stunningheadshot.png"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>